@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(37, 31, 31);
}
.header-container{
    height: 100vh;
    width: 100vw;
    background-color: #B17CB9 ;
    background-image: url(./imagem/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}
.social-media a {
    text-decoration: none;
    color: #72277f;
    padding: 1rem 4rem;
    border: 1px solid #221c23;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out ;
} 
a:hover{
    background-color: #ffff;
}

/*MENU HAMBURGUER*/

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #1E1E2A;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}
/*MENU*/

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
}
.menu-items ul li a{
    margin: 10px 0;
    color: #1E1E2A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*ANIMAÇÃO DO MENU*/
/*traces*/
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}
/*bolha branca*/
#toggle:checked + .checkbox {
    background-color: #ffffff;
}
#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 20vmax #ffffff;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}

.footer {
    width: 100;
    height: 100px;
    background-color: #B17CB9;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CARDS*/
.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}
.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B17CB9;
    background-image: url(./imagem/roxinho.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}
.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.card:hover {
    filter: unset;
}
.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}
.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}